{% extends 'base.html' %}

{% block title %}Verify Your E-mail Address | Meal Plan{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>Please check your email</h1>
            <div class="mt-5">
                <p>We send the confirmation email.</p>
                <p>Please click the link in the email and complete the user registration.
                    If you can't get the email after few minutes, please contact us.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
